/* CSS Document Copyright © ********************/
/* ***************************************************************************************************** */
/* TEMPLATE SPECIFIC CSS CODE */
h1, h2, h3, h4, h5, h6, .contentheading, .componentheading{
font-family: 'Arvo', Arial, sans-serif !important;
font-weight:normal !important;
}
h1, .componentheading{
padding:10px 0;
font-family: 'Arvo', Arial, sans-serif !important;
font-weight:normal !important;
}
h2, .contentheading{
padding:0 0 10px 0;
line-height:1.3em;
font-family: 'Arvo', Arial, sans-serif !important;
font-weight:normal !important;
}
h3{
font-family: 'Arvo', Arial, sans-serif !important;
font-weight:normal !important;
}
h4{
line-height:1.3em;
font-family: 'Arvo', Arial, sans-serif !important;
font-weight:normal !important;
}
.inside {
padding:10px 0;
}
.clr {
clear:both;
}
#wrapper{
width:980px;
margin:0 auto;
padding:20px 0;
}
#wrapper-inner{
border-radius:5px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
}
#header{
padding:15px 0 0 0;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-khtml-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
}
#logo-text h1 {
margin:0 0 5px 0;
}
#logo-text h2 {
margin:0;
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
}
#logo-text h1 a {
text-decoration:none;
}
div#logo a.image h2,
div#logo a.image h3 {
	display:none;
}
#logo-graphic h1 {
margin: 0;
}
#logo-graphic h1 a {
display:block;
padding:0;
text-indent:-8000em;
text-decoration:none;
}
#logo-graphic h2 {
display: none;
}
#menu {
font-size:12px;
position:relative;
z-index:9000;
margin:10px 0;
float:right;
width:auto;
}
#menu-inner {
padding:0;
}
#menu ul, #menu ul li, #menu ul ul {
list-style: none;
margin: 0;
padding: 0;
}
#menu ul {
position: relative;
z-index: 597;
float: left;
}
#menu ul li {
float: left;
line-height: 1.3em;
vertical-align: middle;
zoom: 1;
margin:0 3px 0 0;
border-radius:5px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
}
#menu ul li a {
padding:10px;
display:block;
text-decoration:none;
position:relative;
font-weight:bold;
}
#menu ul li.hover, #menu ul li:hover {
position: relative;
z-index: 599;
cursor: default;
}
#menu ul ul {
visibility: hidden;
position: absolute;
top: 100%;
left: 0;
z-index: 598;
width: auto;
text-transform:capitalize;
font-size:12px;
padding:5px;
min-width:200px;
border-radius:5px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
}
#menu ul ul li{
float: none;
white-space:nowrap;
margin:0;
border-radius:0;
-moz-border-radius:0;
-khtml-border-radius:0;
-webkit-border-radius:0;
}
#menu ul ul li a{
padding:10px 15px;
height:16px;
border-radius:0;
}
#menu ul ul ul {
top: -5px;
left: 100%;
}
#menu ul li:hover > ul {
visibility: visible;
}
#stage-inner {
padding:20px 0 0 0;
}
#pathway {
font-size:12px;
padding:20px 0 0 0;
}
.elements{
padding:20px 0 0 0;
}
#container-inner{
padding:20px 0;
line-height:1.5em;
font-size:14px;
}
#main{
overflow:hidden;
}
#inset {
margin-bottom:20px;
}
#bottom {
font-size:12px;
}
#bottom-inner {
padding:20px 0;
}
#footer {
font-size:12px;
border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
-khtml-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
}
#footer-inner {
padding:20px 0;
}
#copy {
float:left;
text-align:left;
}
#link {
float:right;
text-align:right;
}
#link ul, #link li {
margin:0;
padding:0;
list-style:none;
}
#link li {
display:inline;
}
#link li a {
margin:0 0 0 15px;
}
.joomlashack{
text-align:center;
margin:0 auto 20px auto;
width:100px;
}
/* ***************************************************************************************************** */
/* JOOMLA SPECIFIC CSS CODE */
/* ***************************************************************************************************** */
/* CATEGORY / SECTION BLOGS */
#page{
padding-bottom:20px;
}
.item-page{
position:relative;
}
.content_vote .button {
padding:0 10px;
margin:0 10px;
}
h2.contentheading{
font-size:20px;
margin:0 0 10px 0;
padding:0 70px 0 0;
}
.contentpaneopen, .blog {
width:100%;
}
.blog{
margin:0 0 20px 0;
}
.article_column {
padding:10px 1%;
position:relative;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
-khtml-border-radius:5px 5px 0 0;
}
.column_separator {
padding:10px 0;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
-khtml-border-radius:5px 5px 0 0;
}
.items-row .item{/* 1.6 Only */
margin:0 0 20px 0;
padding:10px 1%;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
-khtml-border-radius:5px 5px 0 0;
}
/* 2 COLUMN BLOG LAYOUT */
.column1.cols2{
width:47%;
float:left;
margin:0 1% 0 0;
}
.column2.cols2{
width:47%;
float:right;
margin:0 0 0 1%;
}
/* 3 COLUMN BLOG LAYOUT */
.column1.cols3{
width:30%;
margin:0 1% 0 0;
float:left;
}
.column2.cols3{
width:30%;
margin:0 1%;
float:left;
}
.column3.cols3{
width:30%;
margin:0 0 0 1%;
float:right;
}
.cols-3 .column-1{/* 1.6 Only */
width:30%;
margin:0 1% 0 0;
float:left;
}
.cols-3 .column-2{/* 1.6 Only */
width:30%;
margin:0 1%;
float:left;
}
.cols-3 .column-3{/* 1.6 Only */
width:30%;
margin:0 0 0 1%;
float:right;
}
/* 4 COLUMN BLOG LAYOUT */
.column1.cols4{
width:24%;
margin:0 1% 0 0;
float:left;
}
.column2.cols4{
width:23%;
margin:0 1%;
float:left;
}
.column3.cols4{
width:23%;
margin:0 1%;
float:left;
}
.column4.cols4{
width:24%;
margin:0 0 0 1%;
float:right;
}
.buttonheading {
font-size:8px;
padding:0 2px;
float:right;
position:absolute;
top:10px;
right:0;
}
.buttonheading img{
margin:0 0 0 5px;
}
.article_body{
clear:both;
}
.leading{
position:relative;
}
.iteminfo{
clear:both !important;
padding:10px 0;
display:block;
}
.small{
font-size:11px;
padding:0 0 10px 0;
}
.createdate, .modifydate, .createdby, .publishdate, .hits {
font-size:10px;
padding:0 20px 0 0;
margin:0 10px 0 0;
display:block;
float:left;
}
.article_separator {
display:none;
}
.leading_separator{
display:block;
}
.article_row{
clear:both;
}
.items-more{
clear:both;
margin-bottom:20px;
}
.items-more h3 {
display:block !important;
padding:10px !important;
margin:0 !important;
font-size:16px !important;
}
.items-more ol,
.items-more li{
margin:0;
padding:0;
list-style:none;
}
.items-more li a{
display:block;
text-decoration:none;
padding:5px 25px 5px 10px;
}
.blog_more {
margin:0 0 30px 0;
font-size:12px;
display:block;
clear:both;
}
.blog_more h2 {
display:block !important;
padding:10px !important;
margin:0 !important;
font-size:16px !important;
}
.blog_more ul,
.blog_more li{
margin:0;
padding:0;
list-style:none;
}
.blog_more li a{
display:block;
text-decoration:none;
padding:5px 25px 5px 10px;
}
.pagenavcounter{
margin:0 0 20px 0;
padding:3px 5px;
}
.pagination {
display:block;
text-align:center;
font-size:12px;
padding:15px 10px;
margin:10px auto 20px auto;
}
.pagination span{
margin:0 5px;
padding:5px 8px;
text-decoration:none;
font-size:13px;
}
.pagination a, .pagenav a{
padding:5px 8px;
text-decoration:none;
font-size:13px;
}
.pagination ul, .pagination li{
padding:0;
margin:0;
list-style:none;
}
.pagination li{
display:inline;
}
.pagenav, .pagenav li{
margin:0;
padding:0;
list-style:none;
}
.pagenav li{
display:inline;
}
.counter{
display:block;
text-align:center;
}
table.contenttoc {
width:35%;
float:right;
margin:0 0 20px 20px;
font-size:12px;
line-height:1.5em;
}
table.contenttoc th {
text-align:left;
padding:10px;
}
table.contenttoc a {
display:block;
padding:5px 10px;
}
#article-index{
width:35%;
float:right;
margin:0 0 20px 20px;
font-size:12px;
line-height:1.5em;
}
#article-index ul, #article-index li{
margin:0;
padding:0;
list-style:none;
}
#article-index li a{
display:block;
padding:5px 10px;
}
.inputbox, .validate-email, #filter_category, #product_quantity_input input, .adminlist input, input, select {
padding:5px 10px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}
.readon a, .readmore a {
display:block;
float:left;
font-size:14px;
padding:8px 20px;
margin:10px 0 20px 0;
text-decoration:none;
text-transform:capitalize;
cursor:pointer;
font-weight:normal;
font-family: 'Arvo', Arial, sans-serif !important;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
white-space:nowrap;
}
.readon a, .readmore a{/* 1.6 Only */
text-decoration:none;
}
.button, button, input.button, div.itemCommentsForm form input#submitCommentButton {
font-size:14px;
padding:8px 20px;
margin:10px 0;
text-decoration:none;
text-transform:capitalize;
cursor:pointer;
font-weight:normal;
font-family: 'Arvo', Arial, sans-serif !important;
border:0;
cursor:pointer;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
}
/* ***************************************************************************************************** */
/* POLLS COMPONENT */
.pollstableborder {
width:100% !important;
}
.pollstableborder th{
text-align:left;
padding:10px 5px;
}
#poll .pollstableborder th img {
display:none;
}
#poll .smalldark{
width:50%;
font-size:12px;
line-height:1.5em;
}
.polls_color_1, .polls_color_2, .polls_color_3, .polls_color_4, .polls_color_5 {
border:0;
height:20px !important;
}
/* ***************************************************************************************************** */
/* SECTION TABLE */
ul.contentpane {
margin:0 0 20px 0 !important;
}
ul.contentpane, ul.contentpane li {
margin:0;
padding:0;
list-style:none;
}
ul.contentpane li {
display:block;
padding:10px 5px 20px 25px !important;
}
.contentpane ul {
margin:0 !important;
}
/* ***************************************************************************************************** */
/* CATEGORY TABLE */
table.category{
clear:both;
}
.filter{
float:left;
margin:10px 0;
}
.display{
float:right;
margin:10px 0;
}
.contentpane table {
border-collapse:collapse;
line-height:1.5em;
}
.contentpane table td {
padding:3px;
}
.contentpane .contentdescription {
padding:0 0 20px 0;
}
.contentpane .sectiontableheader, 
.contentpane .sectiontableentry1 td, 
.contentpane .sectiontableentry2 td, 
.contentpane .sectiontableentry1, 
.contentpane .sectiontableentry2, 
.contentpane .sectiontableentry0 {
font-size:12px;
padding:3px 5px !important;
text-align:left !important;
vertical-align:top;
}
.contentpane .sectiontableheader{
white-space:nowrap;
}
.contentpane #limit{
margin:0 0 10px 0;
}
.categories-list ul,
.categories-list ul li{
margin:0;
padding:0;
list-style:none;
}
.categories-list ul li{
margin:0 0 20px 0;
padding:10px;
}
.categories-list ul li .item-title{
font-size:18px;
}
.categories-list ul li .item-title a{
text-decoration:none;
}
.categories-list ul li .image-left{
float:left;
}
.categories-list ul li .article-count{
font-size:11px;
}
.categories ul,
.categories ul li{
margin:0;
padding:0;
list-style:none;
}
.categories ul li{
margin:0 0 20px 0;
padding:10px;
}
.categories ul li .jitem-title{
font-size:18px;
}
.categories ul li .jitem-title a{
text-decoration:none;
}
.categories ul li .image-left{
float:left;
}
.categories ul li .article-count{
font-size:11px;
}
.categories dl,
.categories dl dt,
.categories dl dd{
margin:0;
padding:0;
list-style:none;
}
.categories dl dt,
.categories dl dd{
display:inline;
font-size:11px;
}

.jcat-children ul,
.jcat-children ul li{
margin:0;
padding:0;
list-style:none;
}
.jcat-children ul li{
margin:0 0 20px 0;
padding:10px;
}
.jcat-children ul li .jitem-title{
font-size:18px;
}
.jcat-children ul li .jitem-title a{
text-decoration:none;
}
.jcat-children ul li .image-left{
float:left;
}
.jcat-children ul li .article-count{
font-size:11px;
}
.jcat-children dl,
.jcat-children dl dt,
.jcat-children dl dd{
margin:0;
padding:0;
list-style:none;
}
.jcat-children dl dt,
.jcat-children dl dd{
display:inline;
font-size:11px;
}
.contentdescription{
margin:0 0 20px 0;
padding:10px;
}
.contentdescription .image-left{
float:left;
}
/* ***************************************************************************************************** */
/* CONTACT FORM */
#emailForm{
font-size:12px;
line-height:1.5em;
padding:20px 20px 10px 20px;
margin:0 0 20px 0;
}
#emailForm br{
display:block;
height:1px;
}
#emailForm label{
font-weight:bold;
}
#emailForm #contact_name,
#emailForm #contact_email,
#emailForm #contact_subject,
#emailForm #contact_text{
width:300px;
display:block;
margin:5px 0;
}
#emailForm #contact_text{
margin:0 0 20px 0;
}
#emailForm #contact_email_copy{
padding:0;
}
.panel{
margin:0 0 10px 0;
font-size:12px;
padding:5px 20px 0 20px;
}
.panel h3{
font-size:12px;
margin:0 0 5px 0;
}
/* ***************************************************************************************************** */
/* WEBLINK SUBMISSION FORM */
table.weblinks{
clear:both;
width:100%;
}
table.weblinks a.category{
margin:0 10px;
}
#adminForm table td {
padding:5px;
vertical-align:top;
text-align:left;
}
.key {
font-weight:bold;
}
/* ***************************************************************************************************** */
/* MY ACCOUNT PAGE */
.form-validate table td {
padding:5px;
}
/* ***************************************************************************************************** */
/* SEARCH COMPONENT */
ol.list li{
font-size:12px;
padding:10px 20px;
margin:0 0 20px 0;
}
ol.search_results li{
font-size:12px;
padding:10px 20px;
margin:0 0 20px 0;
list-style:none;
}
ol.search_results li h4{
clear:both;
display:inline-block;
}
#searchForm #search_searchword{
width:150px;
margin:0 10px;
}
#searchForm #ordering{
margin:10px;
}
.searchintro {
width:100%;
margin:20px 0 10px 0;
}
.searchintro td {
padding:5px 10px;
}
.searchintro br {
display:none;
}
.searchintro b {
font-size:25px;
}
.highlight {
font-weight:bold;
padding:0 5px;
}
body.search .contentpaneopen td {
padding:5px;
}
body.search .contentpaneopen fieldset {
padding:0 0 20px 0;
margin:0 0 20px 0;
}
/* ***************************************************************************************************** */
/* LOGIN COMPONENT FORM */
#login,
.login{
font-size:12px;
line-height:1.5em;
padding:20px 20px 10px 20px;
margin:0 0 20px 0;
}
.login fieldset,
#login fieldset{
margin:0;
}
.login .name,
.login .pass,
.login .remember,
#login .name,
#login .pass,
#login .remember{
margin:0 0 20px 0;
}
#com-form-login #com-form-login-username #username,
#com-form-login #com-form-login-password #passwd{
width:350px;
}
.login-fields label{
display:block;
}
/* ***************************************************************************************************** */
/* REGISTRATION COMPONENT FORM */
#josForm{
font-size:12px;
line-height:1.5em;
padding:20px 20px 10px 20px;
margin:0 0 20px 0;
}
#josForm .contentpane input{
width:250px;
}
form.user{
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
-khtml-border-radius:0;
}
/* ***************************************************************************************************** */
/* RESET / REMEMBER / USER FORMS */
.form-validate{
font-size:12px;
line-height:1.5em;
padding:20px 20px 10px 20px;
margin:0 0 20px 0;
}
table.newsfeeds{
width:100%;
font-size:12px;
}
table.newsfeeds th{
text-align:left;
}
/* ***************************************************************************************************** */
/* FRONTEND CONTENT EDITOR */
.button2-left .readmore {
margin:0;
padding:0;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
-khtml-border-radius:0;
}
.button2-left .readmore a{
font-weight:normal !important;
color:#666 !important;
text-shadow:1px 1px 1px #FFF !important;
-moz-text-shadow:1px 1px 1px #FFF !important;
-webkit-text-shadow:1px 1px 1px #FFF !important;
-khtml-text-shadow:1px 1px 1px #FFF !important;
}
.adminform{
width:100%;
font-size:12px;
background:#FFF;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
}
.adminform td{
padding:10px 5px;
vertical-align:middle;
}
.adminform td.key{
text-align:right;
}
/* ***************************************************************************************************** */
/* TOOLTIPS */
.tool-tip {
float: left;
border: 1px solid #D4D5AA;
padding: 5px;
background: #FFFFCC;
max-width: 200px;
}
.tool-title {
padding: 0;
margin: 0;
margin-top: -15px;
padding-top: 15px;
padding-bottom: 5px;
background: url(../../system/images/selector-arrow.png) no-repeat;
font-size: 100%;
font-weight: bold;
}
.tool-text {
margin: 0;
font-size: 100%;
}
#search .readon {
font-size:14px;
font-weight:bold;
display:inline;
float:none;
padding:4px 26px;
margin:0 0 0 20px;
}
/* ***************************************************************************************************** */
/* SYSTEM MESSAGES */
#system-message {
margin-bottom: 10px !important;
padding: 0 !important;
}
#system-message dt {
font-weight: bold !important;
}
#system-message dd {
margin: 0 !important;
font-weight: bold !important;
text-indent: 30px !important;
}
#system-message dd ul {
list-style: none !important;
margin: 0px !important;
padding: 10px !important;
color: #0055BB !important;
background: #D8E5F8 url(../images/status-info.png) no-repeat 10px 50% !important;
border-top: 3px solid #629DE3 !important;
border-bottom: 3px solid #629DE3 !important;
}
#system-message dt.message {
display: none !important;
}
#system-message dd.message {
}
#system-message dt.error {
display: none !important;
}
#system-message dd.error ul {
margin: 0px !important;
list-style: none !important;
color: #c00 !important;
background: #FFD6D6 url(../images/status-alert.png) no-repeat 10px 50% !important;
border-top: 3px solid #DE7A7B !important;
border-bottom: 3px solid #DE7A7B !important;
}
#system-message dt.notice {
display: none !important;
}
#system-message dd.notice ul {
margin: 0px !important;
list-style: none !important;
color: #DCA33C !important;
background: #FEF6D8 url(../images/status-note.png) no-repeat 10px 50% !important;
border-top: 3px solid #F0DC7E !important;
border-bottom: 3px solid #F0DC7E !important;
}
/* ***************************************************************************************************** */
/* MODULE STYLES */
.moduletable, 
.moduletable_menu, 
.moduletable_text, 
.moduletable-ms1, 
.moduletable-ms2, 
.moduletable-ms3, 
.moduletable-ms4, 
.module, 
.module_menu, 
.module_text, 
.module-ms1, 
.module-ms2, 
.module-ms3, 
.module-ms4{
margin-bottom:20px;
line-height:1.5em;
font-size:12px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
}
.moduletable h3,  
.moduletable_menu h3, 
.moduletable_text h3, 
.moduletable-ms1 h3, 
.moduletable-ms2 h3, 
.moduletable-ms3 h3, 
.moduletable-ms4 h3, 
.module h3, 
.module_menu h3, 
.module_text h3, 
.module-ms1 h3, 
.module-ms2 h3, 
.module-ms3 h3, 
.module-ms4 h3{
font-weight:bold;
font-size:20px;
margin:0 0 10px 0;
padding:0 0 10px 0;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
-khtml-border-radius:5px 5px 0 0;
}
/* ***************************************************************************************************** */
/* MENU MODULES */
.moduletable_menu,
.module_menu {
padding:0;
}
.moduletable_menu h3,
.module_menu h3{
margin:0;
}
.moduletable_menu ul, 
.moduletable_menu li, 
.module_menu ul, 
.module_menu li {
margin:0;
padding:0;
list-style:none;
}
.moduletable_menu li a,
.module_menu li a {
display:block;
text-decoration:none;
padding:3px 25px 3px 0;
white-space:nowrap;
}
.module_menu li ul a,
.moduletable_menu li ul a {
padding:3px 25px 3px 25px;
}
.module_menu li ul ul a,
.moduletable_menu li ul ul a {
padding:3px 25px 3px 45px;
}
.module_menu li ul ul ul a,
.moduletable_menu li ul ul ul a {
padding:3px 25px 3px 55px;
}
.module_menu li ul ul ul ul a,
.moduletable_menu li ul ul ul ul a {
padding:3px 25px 3px 65px;
}
/* ***************************************************************************************************** */
/* POLLS MODULE STYLES */
.poll, .pollstableborder {
width:100%;
}
.poll{
margin:0;
border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
-khtml-border-radius:0 0 5px 5px;
}
.poll thead td{
padding:7px 5px;
}
.pollstableborder {
margin:0 0 20px 0;
}
.pollstableborder td {
text-align:left;
vertical-align:middle;
padding:1px;
}
/* ***************************************************************************************************** */
/* LOGIN MODULE */
#form-login p{
margin:0 0 5px 0;
}
#form-login fieldset{
margin:0;
}
#modlgn_remember {
padding:0;
}
#form-login ul,
#form-login li{
margin:0;
padding:0;
list-style:none;
}
#form-login li a{
display:block;
text-decoration:none;
padding:5px 10px 5px 0;
}
/* ***************************************************************************************************** */
/* SECTIONS MODULE */
ul.sections-module,
ul.sections-module li{
padding:0;
margin:0;
list-style:none;
}
ul.sections-module li a{
display:block;
text-decoration:none;
padding:3px 0;
}
/* ***************************************************************************************************** */
/* RELATED MODULE */
ul.relateditems,
ul.relateditems li{
padding:0;
margin:0;
list-style:none;
}
ul.relateditems{
margin-top:-10px;
margin-bottom:-10px;
}
ul.relateditems li a{
display:block;
text-decoration:none;
padding:3px 10px 3px 10px;
}
/* ***************************************************************************************************** */
/* CATEGORY MODULE */
ul.category-module, ul.category-module li{
margin:0;
padding:0;
list-style:none;
}
ul.category-module li{
margin:0 0 5px 0;
padding:0 0 5px 0;
}
ul.category-module li h4{
font-size:12px;
margin:0;
}
/* ***************************************************************************************************** */
/* ARCHIVE MODULE */
ul.archive-module, ul.archive-module li{
margin:0;
padding:0;
list-style:none;
}
ul.archive-module li a{
display:block;
text-decoration:none;
padding:3px 0;
}
/* ***************************************************************************************************** */
/* TEXT ADS BANNER */
.bannerheader{
font-weight:bold;
padding:3px 0;
}
.banneritem_text{
padding:10px 0;
}
.bannerfooter_text{
padding:5px 0;
}
/* ***************************************************************************************************** */
/* RSS FEED MODULE */
ul.newsfeed, ul.newsfeed li{
margin:0;
padding:0;
list-style:none;
}
ul.newsfeed{
font-size:12px;
}
ul.newsfeed li{
padding:10px;
margin:0 0 20px 0;
}
ul.newsfeed li img{
width:160px;
}
table.moduletable{
margin:0 !important;
border:none !important;
box-shadow:0 0 0 #FFF !important;
-moz-box-shadow:0 0 0 #FFF !important;
-webkit-box-shadow:0 0 0 #FFF !important;
-khtml-box-shadow:0 0 0 #FFF !important;
}
/* ***************************************************************************************************** */
/* LATEST NEWS MODULE */
ul.latestnews,
ul.latestnews li{
margin:0;
padding:0;
list-style:none;
}
ul.latestnews{
margin:0;
}
ul.latestnews li a{
display:block;
padding:3px 0;
margin:0;
}
/* ***************************************************************************************************** */
/* POPULAR MODULE */
ul.mostread,
ul.mostread li{
margin:0;
padding:0;
list-style:none;
}
ul.mostread{
margin:0;
}
ul.mostread li a{
display:block;
padding:3px 0;
margin:0;
}
/* ***************************************************************************************************** */
/* STATISTICS MODULE */
ul.stats-module,
ul.stats-module li{
margin:0;
padding:0;
list-style:none;
}
ul.stats-module li{
display:block;
text-decoration:none;
padding:3px 0 !important;
margin:0;
}
/* ***************************************************************************************************** */
/* NEWSFLASH MODULE */
.newsflash-item{
padding:10px 0;
}
/* ***************************************************************************************************** */
/* BOTTOM MODULE STYLES */
#bottom .module, #bottom .module_menu, #bottom .module_text {
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#bottom .module h3, #bottom .module_menu h3, #bottom .module_text h3 {
padding:10px 0;
margin:0 0 10px 0;
}
#bottom .module_body, #bottom .module_menu_body, #bottom .module_text_body {
padding:10px 0;
}
#bottom .module ul, #bottom .module li, #bottom .module_menu ul, #bottom .module_menu li {
margin:0;
padding:0;
list-style:none;
}
#bottom .module li, #bottom .module_menu li {
display:block;
padding:3px 0;
}
#bottom .module li a, #bottom .module_menu li a {
display:block;
font-size:12px;
text-decoration:none;
}
#bottom .module li a:hover, #bottom .module_menu li a:hover {
text-decoration:underline;
}
/* ***************************************************************************************************** */
/* MODULE CLASS SUFFIX 'NONE' */
.module-none .module_body {
padding:0 !important;
}
/* ***************************************************************************************************** */
/* TYPOGRAPHY STYLES */
/* ***************************************************************************************************** */
/* BULLET STYLES */
ul.bullet1, ul.bullet2, ul.bullet3, ul.bullet4, ul.bullet5, ul.bullet6, ul.bullet7, ul.male, ul.female, ul.accept, ul.clock, ul.color, ul.cup, ul.date, ul.drink, ul.smile, ul.exclamation, ul.heart, ul.music, ul.rainbow, ul.golf, ul.tennis, ul.star, ul.tick {
padding-left: 0;
margin-left: 0;
}
ul.bullet1 li, ul.bullet2 li, ul.bullet3 li, ul.bullet4 li, ul.bullet5 li, ul.bullet6 li, ul.bullet7 li, ul.male li, ul.female li, ul.accept li, ul.clock li, ul.color li, ul.cup li, ul.date li, ul.drink li, ul.smile li, ul.exclamation li, ul.heart li, ul.music li, ul.rainbow li, ul.golf li, ul.tennis li, ul.star li, ul.tick li {
list-style: none;
margin-left: 0;
padding:0 0 0 40px;
margin-bottom: 5px;
}
ul.bullet1 li {
background: url(../images/bullet1.png) 4px 4px no-repeat;
}
ul.bullet2 li {
background: url(../images/bullet2.png) 4px 4px no-repeat;
}
ul.bullet3 li {
background: url(../images/bullet3.png) 4px 4px no-repeat;
}
ul.bullet4 li {
background: url(../images/bullet4.png) 4px 4px no-repeat;
}
ul.bullet5 li {
background: url(../images/bullet_green.png) 4px 4px no-repeat;
}
ul.bullet6 li {
background: url(../images/bullet_pink.png) 4px 4px no-repeat;
}
ul.bullet7 li {
background: url(../images/bullet_red.png) 4px 4px no-repeat;
}
ul.male li {
background: url(../images/user.png) 4px 4px no-repeat;
}
ul.female li {
background: url(../images/user_female.png) 4px 4px no-repeat;
}
ul.accept li {
background: url(../images/accept.png) 4px 4px no-repeat;
}
ul.clock li {
background: url(../images/clock.png) 4px 4px no-repeat;
}
ul.color li {
background: url(../images/color_swatch.png) 4px 4px no-repeat;
}
ul.cup li {
background: url(../images/cup.png) 4px 4px no-repeat;
}
ul.date li {
background: url(../images/date.png) 4px 4px no-repeat;
}
ul.drink li {
background: url(../images/drink.png) 4px 4px no-repeat;
}
ul.smile li {
background: url(../images/emoticon_smile.png) 4px 4px no-repeat;
}
ul.exclamation li {
background: url(../images/exclamation.png) 4px 4px no-repeat;
}
ul.heart li {
background: url(../images/heart.png) 4px 4px no-repeat;
}
ul.music li {
background: url(../images/music.png) 4px 4px no-repeat;
}
ul.rainbow li {
background: url(../images/rainbow.png) 4px 4px no-repeat;
}
ul.golf li {
background: url(../images/sport_golf.png) 4px 4px no-repeat;
}
ul.tennis li {
background: url(../images/sport_tennis.png) 4px 4px no-repeat;
}
ul.star li {
background: url(../images/star.png) 4px 4px no-repeat;
}
ul.tick li {
background: url(../images/tick.png) 4px 4px no-repeat;
}
/* ***************************************************************************************************** */
/* ALERT STYLES */
.alert, .info, .download, .note{
display: block;
padding: 10px 10px 10px 50px;
margin: 15px 0;
}
.alert {
color: #c00;
border-top: 3px solid #fe7b7a;
border-bottom: 3px solid #fe7b7a;
background: #FFD6D6 url(../images/status-alert.png) 10px 50% no-repeat;
}
.info {
color: #0055BB;
border-top: 3px solid #629de3;
border-bottom: 3px solid #629de3;
background: #D8E5F8 url(../images/status-info.png) 10px 50% no-repeat;
}
.note {
color: #B79000;
border-top: 3px solid #fde179;
border-bottom: 3px solid #fde179;
background: #FEF6D8 url(../images/status-note.png) 10px 50% no-repeat;
}
.download {
color: #57861A;
border-top: 3px solid #c2df88;
border-bottom: 3px solid #c2df88;
background: #EEF7DD url(../images/status-download.png) 10px 50% no-repeat;
}
.callout {
display: block;
padding:20px;
margin:0 0 10px 0;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
background:#E5E5E5 url(../images/callout.png) repeat-x 0 0;
border:1px solid #D2D2D2;
}
pre{
padding:20px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
background:#E5E5E5 url(../images/callout.png) repeat-x 0 0;
border:1px solid #D2D2D2;
}
/* ***************************************************************************************************** */
/* BLOCKQUOTE */
blockquote, blockquote.left, blockquote.right {
padding:20px;
margin:10px 0;
font-size:20px;
line-height:25px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
background:#E5E5E5 url(../images/callout.png) repeat-x 0 0;
border:1px solid #D2D2D2;
}
blockquote.left {
float:left;
margin:0 10px 10px 0;
width:50%;
}
blockquote.right {
float:right;
margin:0 0 10px 10px;
width:50%;
}
/* ***************************************************************************************************** */
/* BUTTON STYLES */
.blueButton, 
.greenButton,
.orangeButton,
.yellowButton,
.redButton,
.brownButton,
.cyanButton,
.purpleButton,
.pinkButton,
.oliveButton,
.whiteButton{
white-space:nowrap;
padding:10px 30px;
display:inline-block;
text-decoration:none;
font-size:18px;
font-family: 'Arvo', Arial, sans-serif !important;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
}
.blueButton:hover, 
.greenButton:hover,
.orangeButton:hover,
.yellowButton:hover,
.redButton:hover,
.brownButton:hover,
.cyanButton:hover,
.purpleButton:hover,
.pinkButton:hover,
.oliveButton:hover,
.whiteButton:hover{
text-decoration:none;
}
/* ***************************************************************************************************** */
/* IMAGE STYLES */
.img_border{
padding:4px;
}
/* ***************************************************************************************************** */
/* CUSTOM MODULE STYLES */
.moduletable-blue,
.moduletable-green,
.moduletable-orange,
.moduletable-yellow,
.moduletable-red,
.moduletable-brown,
.moduletable-cyan,
.moduletable-purple,
.moduletable-pink,
.moduletable-olive{
padding:10px;
margin-bottom:20px;
background:#FFF;
line-height:1.5em;
font-size:12px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
box-shadow:inset 0 0 5px #CCC;
-moz-box-shadow:inset 0 0 5px #CCC;
-webkit-box-shadow:inset 0 0 5px #CCC;
-khtml-box-shadow:inset 0 0 5px #CCC;
}
.module-blue,
.module-green,
.module-orange,
.module-yellow,
.module-red,
.module-brown,
.module-cyan,
.module-purple,
.module-pink,
.module-olive{
margin-bottom:20px;
background:#FFF;
line-height:1.5em;
font-size:12px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
box-shadow:inset 0 0 5px #CCC;
-moz-box-shadow:inset 0 0 5px #CCC;
-webkit-box-shadow:inset 0 0 5px #CCC;
-khtml-box-shadow:inset 0 0 5px #CCC;
}
.pad{
padding:10px;
}
.moduletable-blue h3,
.moduletable-green h3,
.moduletable-orange h3,
.moduletable-yellow h3,
.moduletable-red h3,
.moduletable-brown h3,
.moduletable-cyan h3,
.moduletable-purple h3,
.moduletable-pink h3,
.moduletable-olive h3,
.module-blue h3,
.module-green h3,
.module-orange h3,
.module-yellow h3,
.module-red h3,
.module-brown h3,
.module-cyan h3,
.module-purple h3,
.module-pink h3,
.module-olive h3{
margin:-10px -10px 10px -10px;
font-weight:bold;
font-size:20px;
padding:10px;
border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-webkit-border-radius:5px 5px 0 0;
-khtml-border-radius:5px 5px 0 0;
background:url(../images/blueButton.png) repeat-x 0 0;
border:1px solid #2495D9;
color:#FFF !important;
text-shadow:1px 1px 1px #333;
-moz-text-shadow:1px 1px 1px #333;
-webkit-text-shadow:1px 1px 1px #333;
-khtml-text-shadow:1px 1px 1px #333;
}
.moduletable-blue h3,
.module-blue h3{
background:url(../images/blueButton.png) repeat-x 0 0;
border:1px solid #004668;
color:#FFF !important;
}
.moduletable-green h3,
.module-green h3{
background:url(../images/greenButton.png) repeat-x 0 0;
border:1px solid #35972A;
color:#FFF !important;
}
.moduletable-orange h3,
.module-orange h3{
background:url(../images/orangeButton.png) repeat-x 0 0;
border:1px solid #D98724;
color:#FFF !important;
}
.moduletable-yellow h3,
.module-yellow h3{
background:url(../images/yellowButton.png) repeat-x 0 0;
border:1px solid #937500;
color:#FFF !important;
}
.moduletable-red h3,
.module-red h3{
background:url(../images/redButton.png) repeat-x 0 0;
border:1px solid #680000;
color:#FFF !important;
}
.moduletable-brown h3,
.module-brown h3{
background:url(../images/brownButton.png) repeat-x 0 0;
border:1px solid #C2903B;
color:#FFF !important;
}
.moduletable-cyan h3,
.module-cyan h3{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF !important;
}
.moduletable-purple h3,
.module-purple h3{
background:url(../images/purpleButton.png) repeat-x 0 0;
border:1px solid #430043;
color:#FFF !important;
}
.moduletable-pink h3,
.module-pink h3{
background:url(../images/pinkButton.png) repeat-x 0 0;
border:1px solid #D824B7;
color:#FFF !important;
}
.moduletable-olive h3,
.module-olive h3{
background:url(../images/oliveButton.png) repeat-x 0 0;
border:1px solid #A4BE3F;
color:#FFF !important;
}
/* ***************************************************************************************************** */
/* CUSTOM BUTTON STYLES */
a.blueButton{
background:url(../images/blueButton.png) repeat-x 0 0;
border:1px solid #2495D9;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.blueButton:hover{
background:url(../images/blueButton.png) repeat-x 0 100%;
color:#FFF;
}
a.greenButton{
background:url(../images/greenButton.png) repeat-x 0 0;
border:1px solid #006823;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.greenButton:hover{
background:url(../images/greenButton.png) repeat-x 0 100%;
color:#FFF;
}
a.orangeButton{
background:url(../images/orangeButton.png) repeat-x 0 0;
border:1px solid #AE6800;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.orangeButton:hover{
background:url(../images/orangeButton.png) repeat-x 0 100%;
color:#FFF;
}
a.yellowButton{
background:url(../images/yellowButton.png) repeat-x 0 0;
border:1px solid #D9C224;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.yellowButton:hover{
background:url(../images/yellowButton.png) repeat-x 0 100%;
color:#FFF;
}
a.redButton{
background:url(../images/redButton.png) repeat-x 0 0;
border:1px solid #DA4A25;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.redButton:hover{
background:url(../images/redButton.png) repeat-x 0 100%;
color:#FFF;
}
a.brownButton{
background:url(../images/brownButton.png) repeat-x 0 0;
border:1px solid #C2903B;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.brownButton:hover{
background:url(../images/brownButton.png) repeat-x 0 100%;
color:#FFF;
}
a.cyanButton{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #236868;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.cyanButton:hover{
background:url(../images/cyanButton.png) repeat-x 0 100%;
color:#FFF;
}
a.purpleButton{
background:url(../images/purpleButton.png) repeat-x 0 0;
border:1px solid #B324D8;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.purpleButton:hover{
background:url(../images/purpleButton.png) repeat-x 0 100%;
color:#FFF;
}
a.pinkButton{
background:url(../images/pinkButton.png) repeat-x 0 0;
border:1px solid #D824B7;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.pinkButton:hover{
background:url(../images/pinkButton.png) repeat-x 0 100%;
color:#FFF;
}
a.oliveButton{
background:url(../images/oliveButton.png) repeat-x 0 0;
border:1px solid #5B7800;
color:#FFF !important;
text-shadow:1px 1px 3px #333;
-moz-text-shadow:1px 1px 3px #333;
-webkit-text-shadow:1px 1px 3px #333;
-khtml-text-shadow:1px 1px 3px #333;
}
a.oliveButton:hover{
background:url(../images/oliveButton.png) repeat-x 0 100%;
color:#FFF;
}
a.whiteButton{
background:url(../images/whiteButton.png) repeat-x 0 0;
border:1px solid #CCC;
color:#333 !important;
text-shadow:1px 1px 3px #FFF;
-moz-text-shadow:1px 1px 3px #FFF;
-webkit-text-shadow:1px 1px 3px #FFF;
-khtml-text-shadow:1px 1px 3px #FFF;
}
a.whiteButton:hover{
background:url(../images/whiteButton.png) repeat-x 0 100%;
color:#333;
}
/* ***************************************************************************************************** */
/* IMAGE STYLES */
.img_border{
background:#EEE;
border:1px solid #D5D5D5;
}
.profile-edit label, .contact-form label, .registration label {
display:block;
}
div a.joomlashack {
	background-position:center center;
	display:block;
}
