/*#############################################################
issta15-print.css is issta15.css with the following changes: 
  - Background color is always white
  - Navigation sidebar does not print
  - Main content margin does not leave room for sidebar
  - Main font (.body) is verdana @ 50%
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
} 
a {
	color: #36C;
}
a:hover {
	color: #06F;
}
body {
	color: #444;
	font: normal 50% "Verdana",sans-serif;
	margin: 0;
}
input {
	color: #555;
	font: normal 1.1em "Verdana",sans-serif;
}
p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
h1 {
	font-size: 1.7em;
	margin-bottom: 0.5ex;
	margin-top: 0ex;
	padding-top: 0ex;
}
code {
	border: 2px dotted #CCC;
	border-left: 2px dotted #CCC;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	color: #666;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}
h1,h2,h3 {
	color: #B72512;
	padding-top: 6px;
}

/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	margin: 0 auto;
	padding-bottom: 6px;	/* width: 90%; /* was a fixed width */ 
}


.pageheader {
	height: 160px; 
	padding-left: 8px; 
	margin: 8px;
}

/* title */
.title h1 {
	color: black;
	font: bold 3em Verdana,sans-serif;
	margin: 1ex;
	padding-top: 1ex;
	text-align: center;
	vertical-align: middle;
}

/* navigation --- not currently used?  */
.navigation {
	margin-bottom: 4px;
}
.navigation a {
	color: #FFF;
	float: left;
	font: bold 1.2em "Trebuchet MS",sans-serif;
	padding: 8px 0;
	width: 19%; 
	border-right: 1px solid #FFF;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #FFF;
}


/* main left sidebar (menu)  */
.sidenav {
    display: none; 
}

/* content (main block) */
.content {
	max-width: 900px; /* added */ 
	margin-left: 2em; /* for printing */ 
	margin-right: 8px; /* Match to header */ 
}
.content .item {
	padding: 6px 12px;
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 8px;
}
.content .descr {
	color: #333;
	margin-bottom: 6px;
}
.content li {
	list-style: url(images/target-bullet.gif);
	margin-left: 18px;
}

/* Q/A style in .descr block, e.g., in FAQ */ 
.QA {
    padding-left: 1em; 
    padding-top: 1em; 
}

.QA .Q {
    font-weight: bolder; 
}

.QA .A {

}

/* "See-also" navigation block (as a block in the running text)
 */ 
.seealso {
	background: #EEE;
	border: 1px dotted #F0F0F0;
	color: black;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
}


/* footer */
.footer {
	background: #FFF;
	border: 1px solid #EEE;
	color: #666;
	font-size: 1.1em;
	margin: 0 auto;
	text-align: center;
	padding: 6px;
}
.footer a {
	color: #36C;
	text-decoration: none;
}
.footer a:hover {
	color: #06F;
	text-decoration: underline;
}
