div.logobar {
   border-bottom : 4px solid black;
   padding : 10px 15px;
   background-color: white;
   color : white;
}

@media screen and (max-width:480px) {
  .logobar{
   padding: 5px 5px;
   height: 90px;
  }
}

.brand-text{
   visibility: hidden;
}

.logobar a {
color: #dff0d8;
}

.navbar-brand {
  background: url("http://conf.researchr.org/getImage/PPoPP-2016/orig/logo_final_extended_con_ACM.png") no-repeat; 
  background-size: contain;
  background-position: left bottom;
  width: 255px;
  height: 60px;  
}

@media screen and (min-width:768px) {
  .navbar-brand{
    width: 510px;
    height: 120px;
  }
}

.place {
float: left;
visibility: hidden;
}
.place2 {
float: right;
visibility: hidden;
}
div.navigationbar {
border-bottom: 1px solid #555;
}
