.important-dates-in-sidebar .text-success {
    background-color: #fff !important;
}

.navbar-brand {
    position: relative;
    background-image: url('https://icfp19.sigplan.org/getImage/orig/ICFP+19+logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 152px;
    height: 86px;
    z-index: 3;
    margin-top: 20px;
}
.brand-text {
     opacity: 0;
}

div.logobar {
    padding: 10px 15px;
    background-color: rgb(256, 256, 256);
    color: #777777;
}
/* 
.logobar .container{
	border-bottom: 1px solid #e7e7e7;
}
 */
.logobar a {
    color: #4e5e6b;
}
.navbar{
  border-top: none !important;
}
.navbar{
  border-radius: 0px !important;
}
.place {
  float: left;
  padding: 55px 0 0 30px;
  font-size: 15pt;
}
.place a {
    display: block;
}

.place.no-before:before{
    display: none;
}
.place2 {
  float: right;
  padding : 23px 0 0 0px
}

.panel-primary {
    border-color: #ff8c00
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ff8c00
}

.panel-primary > .panel-heading .badge {
    color: #ff8c00;
    background-color: #fff
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ff8c00
}

.panel-warning {
    border-color: #ff8c00
}

.panel-warning > .panel-heading {
    color: #fff;
    background-color: #ff8c00;
    border-color: ##ff8c00
}

.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: ##ff8c00
}

.panel-warning > .panel-heading .badge {
    color: #ff8c00;
    background-color: #8a6d3b
}

.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color:#ff8c00
}

.btn-primary {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #ff8c00;
    border-color: #ff8c00
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #ff8c00;
    border-color: #ff8c00
}

.btn-primary .badge {
    color: #ff8c00;
    background-color: #fff
}

@media (max-width:767px){
  .logobar .container{
  }
  .navbar-brand {
    height: 50px;
    width: 99px;
    z-index: 3;
    margin-bottom: -29px;
  }
  .place{
    font-size: 10pt;
    padding: 36px 0px 0px 0px;
  }
}