div.logobar {
  border-bottom : 4px solid black;
  padding : 10px 15px;
  background-color: black;
  color : white;
}

.brand-text{
  visibility: hidden;
}

.logobar a {
    color: #dff0d8;
}
.navbar-brand {
  font-size: 23px;
  background: url("http://conf.researchr.org/getImage/pldi2015/orig/pldi15logo512x81.jpg") no-repeat 0 0px;
  background-size: 512px 81px;
  background-position: 0px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 80px;
  width: 514px;
  margin-top: 0px;
}
.place {
  float: left;
  padding : 23px 0 0 40px
;
  visibility: hidden;
}
.place2 {
  float: right;
  padding : 23px 0 0 0px
}
div.navigationbar {
  border-bottom: 1px solid #555;
}