.mx-current-time {
	text-align: center;
	font-weight: bold;
}
.mx-time-zone {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.mx-localize-time {
	text-align: center;
}

/**/
.mx-elem-time {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.mx-elem-time_zone {
	text-align: center;
	font-size: 18px;
}
.mx-elem-days {

}