div.logobar {
    padding: 10px 15px;
    background-color: rgb(248, 248, 248);
    color: #777777;
}
.logobar .container{
	border-bottom: 1px solid #e7e7e7;
}
.logobar a {
    color: #4e5e6b;
}
.navbar{
  border-top: none !important;
}
.navbar-brand {
  font-size : 36px;
}
.navbar{
  border-radius: 0px !important;
}
.place {
  float: left;
  padding : 23px 0 0 40px
}
.place2 {
  float: right;
  padding : 23px 0 0 0px
}