.place>a.navigate:after {
    content: "Online Conference";
}

.navbar-brand {
    position: relative;
    background-image: url('https://pldi20.sigplan.org/getImage/orig/PLDI-Virtual-Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 150px;
    z-index: 3;
    margin-top: 20px;    
}
.brand-text {
     opacity: 0;
}

div.logobar {
    padding: 10px 15px;
    background-color: rgb(256, 256, 256);
    color: #777777;
}
.logobar .container{
	border-bottom: 1px solid #e7e7e7;
}
.logobar a {
    color: #4e5e6b;
}
.navbar{
  border-top: none !important;
}
.navbar-brand {
  font-size : 36px;
}
.navbar{
  border-radius: 0px !important;
}
.place {
  float: left;
  padding : 50px 0 0 40px
}
.place a {
    display: block;
}

.place2 {
  float: right;
  padding : 23px 0 0 0px
}